<%= form_for :lyric, url: lyrics_path, :html => {:class => "form-horizontal center"} do |f| %>
	<div class="form-group">
    	<div class="col-md-4 col-md-offset-4">
			<%= f.label :song, class: "control-label" %>
		</div>
		<div class="col-md-4 col-md-offset-4">
			<%= f.text_field :song, class: "form-control"%>
		</div>
	</div>

	<div class="form-group">
    	<div class="col-md-4 col-md-offset-4">
			<%= f.label :verse1, class: "control-label" %>
		</div>
		<div class="col-md-4 col-md-offset-4">
			<%= f.text_area :verse1, class: "form-control", rows: "6"%>
		</div>
	</div>

	<div class="form-group">
    	<div class="col-md-4 col-md-offset-4">
			<%= f.label :chorus, class: "control-label" %>
		</div>
		<div class="col-md-4 col-md-offset-4">
			<%= f.text_area :chorus, class: "form-control", rows: "6"%>
		</div>
	</div>

	<div class="form-group">
    	<div class="col-md-4 col-md-offset-4">
			<%= f.label :verse2, class: "control-label" %>
		</div>
		<div class="col-md-4 col-md-offset-4">
			<%= f.text_area :verse2, class: "form-control", rows: "6"%>
		</div>
	</div>

	<div class="form-group">
    	<div class="col-md-4 col-md-offset-4">
			<%= f.label :bridge, class: "control-label" %>
		</div>
		<div class="col-md-4 col-md-offset-4">
			<%= f.text_area :bridge, class: "form-control", rows: "6"%>
		</div>
	</div>

	<div class="form-group">
    	<div class="col-md-4 col-md-offset-4">
			<%= label_tag(:public, "Make this Lyric Public", class: "control-label") %>
		</div>
		<div class="col-md-4 col-md-offset-4">
			<%= f.check_box :public, class: "form-control"%>
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-4 col-md-offset-4">
			<%= f.submit "Save Song", class: "btn btn-primary" %>
			<%=link_to "Back", lyrics_path, class: "btn btn-default"%>
		</div>
	</div>
<%end%>
